# Google Sheets API Service Account configuration
GOOGLE_SHEETS_ID=""
GOOGLE_SHEETS_OPENING_HOURS_ID=""
GOOGLE_SERVICE_ACCOUNT_EMAIL="your-service-account@your-project.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Dev Google Sheets URL or ID (used during local development when NODE_ENV !== "production")
# Accepts either a full Google Sheets URL or a spreadsheet ID:
DEV_GOOGLE_SHEETS_URL="https://docs.google.com/spreadsheets/d/1-RBYsKkE2gAEU9xwPv78k8DeYaPkfiybt-6i8bagEc0/edit"

# Target restaurant URLs for scraper
HUOLTAMO_API_URL="https://script.googleusercontent.com/a/macros/yle.fi/echo?user_content_key=AUkAhnT31DSF89GRyUPebcLX_oJz-Rkt0nXafVj3zNmfFHp8lvswkQTsNaHMrCG-lqxGmFaZIVDoRxEMxxamGgv-BmUXRUG-6Pd8NEdojaaKbu0Rj7vhaA698QYzWqv3O8pdDP06mxy_G235MxmF39xKmNWdzmgmOcZ0imeygA3tFSiXtstBnbwuoq8r9vZ4D8hAlz3EPBRtRAb323qQTqS2uphOR9KG5r63DY012Uq4p-9JQrGmOZ7O7PSZkGqdkXVzFp107HeJuz6jK11ikPvf8AppO0-Df8D_GAsh75a0NnMfXiVa8FV1-bf8YSN-Ww&lib=Mj9QMBIRZJsNk6tjp-CZc2vk6ee82Q7eC"
ISO_PAJA_URL="https://www.hhravintolat.fi/iso-paja/"
AKSELI_URL="https://www.ninankeittio.fi/helsinki-ilmala-akseli/#lounaslista"
PAATTARI_URL="https://nordrest.fi/restaurang/ravintola-paattari/#ruokalista"
CAMPUS_BISTRO_URL="https://example.com/bistro-menu"
STUDENT_CANTEEN_URL="https://example.com/canteen-menu"
